/* Configurações gerais */
*{
    margin: 0;
    padding: 0;
}

.title-config{
    padding: 1%;
    font-size: 1.3em;
    color: #333;
}

.Menu{
    background-color: #183153;
}

.Menu ul{
    display: flex;
    justify-content: left;
}

.Menu ul li{
    justify-content: center;
    text-transform: lowercase;
    font-weight: bold;
    list-style-type: none;
    margin: 1% 2%;
}
.Menu ul a{
    color: white;
}

 /* ------------------------------------------------------------------- */
.apresentacao{
    margin-top: -20px;
    min-height: 50vh;
    max-height: 100%;
    background-color: #183153;
}

.apresentacao{
    padding: 5%;
    padding-bottom: 0;
    color: white;
}

.apresentacao .destaque{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 200px;
}
.apresentacao .destaque img{
    width: 200px;
}
.apresentacao .ver-mais{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

/* ---------------------------------------------------------------------- */

.product{
    background-color: #eeeef2;
    padding: 2%;
}

.product h1{
    padding: 1%;
    font-size: 1.3em;
    color: #333;
}

.product .card{
    border: none;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 0;
}

.product .card:hover{
    transition: all .5s;
    box-shadow:  0px 0px 42px 0px rgba(0,0,0,0.22);
    
}

.product .card .card-img-top{
    margin-top: 20%;
    width: 50%;
}

.product .card .card-body{
    padding: 0;
}
.product .card .card-text{
    padding: 5%;
    padding-bottom: 0;
}
.product .card .card-footer{
    padding: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.product .card .card-footer button{
    background-color: #183153 ;
    color: white;
    border: none;
    margin: 0 !important;
    padding: 5px;
    width: 100%;
    border-radius: 0 0px 5px 5px;

}

/* -------------------------------------------------------------------------------- */
.rodape{
    padding: 2%;
    background-color: #444;
    color: white
}