body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Menu */

.Menu{
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#FFA500 , #DB7093);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
  border-radius: 3px;

}
 
.Menu ul {
  display: flex;
  justify-content: center;
}

 .Menu ul li{
   list-style: none;
 }

.Menu ul a, .navbar  {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin: 0 10px;
}


  
  
  /* Inicio */

.product-f-image {
  position: relative;
}
.product-hover {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;overflow: hidden;border: 1px solid #ddd;
}
.product-hover:after {
background: none repeat scroll 0 0 #000;
content: "";
height: 100%;
left: -100%;
opacity: 0.6;
position: absolute;
top: 0;
width: 100%;transition: .4s;
}
.product-hover a {
  background: none repeat scroll 0 0 #FFA500;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 16px;
  left: 10%;
  margin: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #FFA500;
  width: 80%;z-index: 99;transition: .4s;
}
.product-hover a:hover {
background: #000;
text-decoration: none;border-color: #444;
}
.product-carousel-price ins {
color: #FFA500;
font-weight: 700;
margin-right: 5px;
text-decoration: none;
}
.product-hover a i.fa {
  margin-right: 5px;
}
.product-hover a.add-to-cart-link {top: -25%;}
.product-hover a.view-details-link { bottom: -25%;}
.single-product h2 {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  margin-top: 15px;
}

/* imagens de produtos recentes */


.Celular{

  background-image: linear-gradient(#fff,);
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
    font-family: Montserrat, sans-serif;
    margin: 15px ;
    padding: 50px 50px;
    display: inline-block;  

}

.Lnovo{
  background-image: linear-gradient(#fff,);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  font-family: Montserrat, sans-serif;
  margin: 20px ;
  padding: 50px 50px;
  display: inline-block;  
}

.TV{

  background-image: linear-gradient(#fff,);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  font-family: Montserrat, sans-serif;
  margin: 20px ;
  padding: 50px 50px;
  display: inline-block;  

}

.MG8{

  background-image: linear-gradient(#fff,);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  font-family: Montserrat, sans-serif;
  margin: 15px ;
  padding: 50px 50px;
  display: inline-block;  

}






.promo-area {
  background: none repeat scroll 0 0 #FFA500;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  color: #fff;
  padding: 77px 0 200px;
  text-align: center;
}

.brands-area {
  background: none repeat scroll 0 0  #DB7093;
  color: #fff;
  padding: 0px 0 200px;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
}

.promo-area .zigzag-bottom, .brands-area .zigzag-bottom{background: #fff}
.single-promo {
    border: 1px solid  #DB7093;
    border: 1px solid ;
    font-size: 25px;
    font-weight: 200;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
}
.single-promo i {
  font-size: 50px;
}

.single-promo:hover {color: #fff;background: #DB7093; border-color: #222}
.section-title {
  font-family: "Raleway",sans-serif;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 50px;
  text-align: center;
}


.Logo{
  background-image: linear-gradient(#00BFFF,  #DB7093);
  color: #fff;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  padding: 50px 50px;
  font-family: Montserrat, sans-serif;
  text-align: center;
  border-radius: 5px;
}


/* Lista de produtos */

.title-1{
  text-align: center;
}

.Xiami{
  background-image: linear-gradient(#fff,);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  font-family: Montserrat, sans-serif;
  margin: 15px ;
  padding: 50px 50px;
  display: inline-block; 
}

.title-2{
  text-align: center;
 
}

.POS{
  background-image: linear-gradient(#fff,);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  font-family: Montserrat, sans-serif;
  margin: 15px ;
  padding: 50px 50px;
  display: inline-block; 
}

.Gamer{
  background-image: linear-gradient(#fff,);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  font-family: Montserrat, sans-serif;
  margin: 20px ;
  padding: 50px 50px;
  display: inline-block
}

.DELL{

  background-image: linear-gradient(#fff,);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  font-family: Montserrat, sans-serif;
  margin: 20px ;
  padding: 50px 50px;
  display: inline-block

}
.title-3{
  text-align: center;
}


.LG{

  background-image: linear-gradient(#fff,);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  font-family: Montserrat, sans-serif;
  margin: 20px ;
  padding: 50px 50px;
  display: inline-block;  


}

.TOSH{

  background-image: linear-gradient(#fff,);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  font-family: Montserrat, sans-serif;
  margin: 20px ;
  padding: 50px 50px;
  display: inline-block;  


}

.PHILCO{

  background-image: linear-gradient(#fff,);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  font-family: Montserrat, sans-serif;
  margin: 20px ;
  padding: 50px 50px;
  display: inline-block;  


}


/* footer */



.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
 
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
}

